h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    text-align: center;
}

#quiz{
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#startbutton{
    border: .05px solid black;
}

#prevButton{
    border: .05px solid black;
}

#nextButton{
    border: .05px solid black;
}